body {
  margin: 0;
  padding: 0;
}
#splash-screen {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f2f3f8;
}

#splash-screen img {
  margin-left: calc(100vw - 100%);
  margin-bottom: 30px;
}

#splash-screen.hidden {
  opacity: 0;
  visibility: hidden;
}

.splash-spinner {
  animation: rotate 2s linear infinite;
  margin-left: calc(100vw - 100%);
  width: 50px;
  height: 50px;
}

.bg-radial-gradient-primary {
  background-color: #1d71b8 !important;
  background-image: radial-gradient(
    circle,
    rgba(225, 240, 255, 0.4),
    #1d71b8 70%
  ) !important;
}

@media (min-width: 992px) {
  .aside-fixed .aside {
    top: 75px !important;
  }
  
}

@media screen and (max-width: 770px) {
  .fc-dayGridMonth-button, .fc-timeGridWeek-button, .fc-timeGridDay-button {
    display: none !important;
  }

  .fc-scrollgrid-sync-table {
    width: 100% !important;
    height: 420px !important;
  }
}

@media (min-width: 992px) {
  .header-fixed.aside-minimize .header {
    left: 0px !important;
  }
}

.btn i {
  padding-right: 0rem !important;
  padding-right: 0px !important;
}

.fa-lg {
  font-size: 1.33333em !important;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.fa-2x {
  font-size: 2em !important;
}

.brand-logo {
  width: 170px !important;
}

.infowindows {
  min-width: 250px;
}

.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link {
  border-radius: 5px;
}

.aside-menu .menu-nav > .menu-item > .menu-link {
  padding: 15px 18px !important;
}

@media (min-width: 992px) {
  .aside-fixed.aside-minimize:not(.aside-minimize-hover) .wrapper {
    padding-left: 75px !important;
  }
}

@media (min-width: 992px) {
  .aside-minimize:not(.aside-minimize-hover) .aside {
    width: 75px !important;
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .header.header-fixed {
    height: 75px !important;
  }
}

@media (min-width: 992px) {
  .header-fixed .wrapper {
    padding-top: 75px !important;
  }
}

.w-40 {
  width: 40% !important;
}

.lh-1 {
  line-height: 1;
}

.tb-nav {
  position: absolute;
  top: 25px;
  right: 25px;
}

.fc-scrollgrid-liquid {
  height: 440px !important;
}

.modal-calendar {
  height: 550px !important;
}

.nav-position {
  position: absolute;
  right: 37px;
  top: 19px;
  z-index: 80;
}

.nav-position-modal {
  position: absolute;
  right: 30px;
  top: -49px;
  z-index: 80;
}

.nav-map {
  position: absolute;
  top: 15px !important;
  right: 30% !important;
}

.fc .fc-button-primary {
  background-color: #3699ff !important;
  border-color: #ffffff !important;
  border-radius: 5px !important;
}

i {
  font-size: 1rem !important;
  color: currentcolor !important;
}

.no-border {
  border: 0px !important;
  border: 0rem !important;
}

.splash-spinner .path {
  stroke: #5d78ff;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.fc-col-header {
  width: 100% !important;
}

.fc-scrollgrid {
  background-color: white;
}

.fc .fc-scrollgrid-liquid {
  height: 100%;
  height: 451px !important;
}

.fc-daygrid-body {
  width: 100% !important;
}

.h-570 {
  height: 650px;
}

.w-33 {
  width: 31%;
}

.fc-scrollgrid-sync-table {
  width: 100% !important;
  height: 424px !important;
}

.w-255 {
  width: 255px;
}

.h-270 {
  max-height: 270px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.fc-view-harness-active {
  max-height: 430px !important;
}

.btn-filtro {
  position: absolute;
  top: -38px;
  right: 100px;
}

.card-filtro {
  border: 0px solid #ffffff !important;
}

.modal .modal-header .close {
  outline: none !important;
  color: #6f6f6f;
  transition: color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, box-shadow 0.15s ease;
  padding: 12px !important;
  margin: 0;
  line-height: 0;
  background-image: url(../media/close.png) !important;
  background-size: contain !important;
}

.bootstrap-tagsinput .tag {
  cursor: pointer;
  margin: 5px 3px 5px 0;
  position: relative;
  padding: 3px 8px;
  border-radius: 12px;
  color: #000 !important;
  font-weight: 500;
  font-size: 0.75em;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.5em;
  background-color: #dbad2d !important;
  padding-left: 0.8em;
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1200px !important;
  }
}

@media (min-width: 1350px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1250px !important;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1340px !important;
  }
}

@media (min-width: 1500px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1420px !important;
  }
}

@media (min-width: 1500px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1500px !important;
  }
}

.nav-position2 {
  position: absolute;
  right: 40px;
  z-index: 80;
  margin-top: 60px;
}

.nav-position3 {
  position: absolute;
  top: 25px;
  z-index: 10;
  right: 40px;
}
